In [28]:
import pandas as pd
import numpy as np
import re

# Load the Data

file_path = (r"C:\Users\Althaf s hussain\Downloads\messy_data.csv")
df = pd.read_csv(file_path)

In [27]:
#Inspect the Data

df.info()
df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8728 entries, 0 to 10999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8728 non-null   int64
 1   ID          8728 non-null   object
 2   Name        7784 non-null   object
 3   Age         8295 non-null   float64
 4   Email       8728 non-null   object
 5   Join Date   7902 non-null   object
 6   Salary      8728 non-null   float64
 7   Department  7832 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 613.7+ KB

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [29]:
#Handling missing values

df.isnull().sum()

Unnamed: 0       0
ID               0
Name          2333
Age           1747
Email         1269
Join Date     2192
Salary        2239
Department    2255
dtype: int64

In [30]:
for column in df.columns:
    if df[column].dtype == 'object':
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df[column].fillna(df[column].mean(), inplace=True)

In [31]:
df.isnull().sum()

Unnamed: 0    0
ID            0
Name          0
Age           0
Email         0
Join Date     0
Salary        0
Department    0
dtype: int64

In [32]:
#Remove Duplicates

df.drop_duplicates(inplace=True)

In [33]:
#Correct email formats

def validate_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email)

df = df[df['Email'].apply(lambda x: validate_email(x) is not None)]

In [34]:
#Clean name fields

df['Name'] = df['Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip().str.title()

In [35]:
#standardise date formats

df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce').dt.strftime('%Y-%m-%d')

In [36]:
#Correct department name

department_mapping = {
    'HR': 'HR',
    'Human Resources': 'HR',
    'Eng': 'Engineering',
    'Engineer': 'Engineering',
    'Marketing': 'Marketing',
    'Sales': 'Sales',
    'Support': 'Support'
}

In [37]:
df['Department'] = df['Department'].map(department_mapping).fillna(df['Department'])

In [38]:
#Handle salary noise

df = df[(df['Salary'] >= 30000) & (df['Salary'] <= 200000)]

In [39]:
cleaned_file_path=(r"C:\Users\Althaf s hussain\Downloads\cleaned_data_csv")
df.to_csv(cleaned_file_path, index=False)